.main {
  font-family: "Jua", sans-serif;
}

header {
  background: #e7f5ff;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

header span {
  background: linear-gradient(to right, #fbcac9, #8ca6ce);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
